{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "no-console": "off",
    "dot-notation": "off",
    "brace-style": [
      "allman",
      {
        "allowSingleLine": true
      }
    ]
  }
}
